/*  .poppins-medium {
                font-family: "Poppins", sans-serif;
                font-weight: 500;
                font-style: normal;
            }
            
            .poppins-bold {
                font-family: "Poppins", sans-serif;
                font-weight: 700;
                font-style: normal;
            }
             // <uniquifier>: Use a uniquifier for the class name
            .playfair-display-<uniquifier> {
                font-family: "Playfair Display", serif;
                font-optical-sizing: auto;
                font-weight: 700;
                font-style: normal;
            }
            
            */

.hero {
    text-align: center;
    padding: 80px 0;
    background-color: #F9F7FE;
}

.hero h1 {
    font-family: "Playfair Display", serif;
    font-weight: ;
    font-size: 96px;
}

.hero p {
    font-size: 36px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.hero h2 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 24px;
}

.contact-button {
    color: white;
    background: 6C63FF;
}