/* .poppins-medium {
  font-family: "Poppins", sans-serif;
 font-weight: 500;
font-style: normal}
 .poppins-bold {  font-family: "Poppins", sans-serif;
 font-weight: 700;
 font-style: normal; }
// <uniquifier>: Use a uniquifier for the class name
 .playfair-display-<uniquifier> {
 font-family: "Playfair Display", serif;
 font-optical-sizing: auto;
font-weight: 700;
 font-style: normal;} */

.hero {
    text-align: center;
    padding: 80px 0;
    background-color: #F9F7FE;
}

.hero h1 {
    font-family: "Playfair Display", serif;
    font-weight: bol;
    font-size: 96px;
}

.hero p {
    font-size: 36px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.hero h2 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 24px;
}

.contact-button {
    color: white;
    background: 6C63FF;
    border-radius: 4px;
}

h1 {
    font-family: "Playfair Display", serif;
    font-size: 64px;
    font-weight: bold;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}

h3 {
    font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: medium;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 3;
}

img {
    padding: 20px;
}

.app-button {
    border-radius: 4px;
}

h3 {
    font-family: "Playfair Display", serif;
    font-size: 64px;
    font-weight: bold;
}

.about-section h1 {
    font-family: "Playfair Display", serif;
    font-size: 64px;
    font-weight: bold;
}

.about-section h2 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.about-section p {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 3;
}

.my-mage {
    padding: 20px 30px;
}

.content {
    padding: 20px 30px;
}

.enquiry {
    background-color: #F9F7FE;
}

.enquiry h1 {
    font-family: "Playfair Display", serif;
    font-size: 50px;
    font-weight: bold;
}

.enquiry p {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 18px;
    opacity: 0.6;
}

.about-link {
    font-family: "Poppins", serif;
    font-size: 24px;
    font-weight: medium;
    display: block;
    margin: 0 auto;
    color: black;
    text-decoration: none;
}

.work-image {
    margin: 30px 50px;
}

.work-section h1 {
    font-family: "Playfair Display", serif;
    font-size: 54px;
    font-weight: bold;
}

.work-section p {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.work-section h2 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.work-section img {
    padding-right: 120px;
}

.image-label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media {
    display: flex;
    justify-content: center;
    color: blue;
    font-family: "Poppins", sans-serif;
    font-weight: medium;
    font-size: 16px;
    line-height: 1.0;
}

li {
    display: inline;
    ;
    text-decoration: none;
}

.navbar {
    display: flex;
}

.logo2 {
    position: relative;
    left: -55px;
}

@media(max-width: 576px) {
    img {
        display: none;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 8px;
    }
    p {
        font-size: 8px;
    }
    .hero h1 {
        font-size: 48px;
    }
    .hero p {
        font-size: 18px;
    }
    .row {
        display: flex;
        flex-direction: column align-items: center;
    }
    .about-link {
        font-size: 10px;
        padding: 5px 5px;
        text-align: center;
    }
    .about-section h1 {
        font-family: "Playfair Display", serif;
        font-size: 40px;
        font-weight: bold
    }
    .about-section p {
        font-family: "Poppins", sans-serif;
        font-weight: normal;
        font-size: 10px;
        line-height: 1.5;
    }
    .about-section p {
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        font-size: 12px;
    }
    .social-media {
        display: block;
        margin-left: 0;
    }
    .email {
        text-align: start;
    }
    .enquiry-link {
        padding: 10px;
    }
    .navbar {
        display: flex;
        flex: 1;
        justify-content: center;
        line-height: 0.5;
    }
    .logo2 {
        width: 100px;
    }
    ul {
        font-size: smaller;
    }
}


}

}